body {
    background-color: bisque;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(252, 114, 2);
    margin-bottom: auto;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(164, 31, 216);
}